@model IEnumerable<Garage2.Models.Admin.Offer>
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #757575">
    <p style="text-align:center;font-size:24px;color:white;padding:15px; text-transform:uppercase">Administation panel</p>
    <hr />
</div>

<p>
    <button class="waves-effect waves-light btn" type="button" onclick="location.href='@Url.Action("Create","Offers")'"> Nowa pozycja  </button>
</p>
<table class="tableadmin">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Edycja / Szczegóły / Usuwanie
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <button class="myButton tooltipped" data-position="top" data-delay="30" data-tooltip="Edytuj" type="button"
                        onclick="location.href='@Url.Action("Edit","Offers",new { id = item.OfferId })'">
                    <i class="material-icons center">mode_edit</i>
                </button>
                <button class="myButton tooltipped" data-position="top" data-delay="30" data-tooltip="Szczegóły" type="button"
                        onclick="location.href='@Url.Action("Details","Offers",new { id = item.OfferId })'">
                    <i class="material-icons center">comment</i>
                </button>
                <button class="myButton tooltipped" data-position="top" data-delay="30" data-tooltip="Usuń" type="button"
                        onclick="location.href='@Url.Action("Delete","Offers",new { id = item.OfferId })'">
                    <i class="material-icons center">delete</i>
                </button>
            </td>
        </tr>
    }

</table>
